.bg {
	background: url("../img/smiling-background.jpg") no-repeat;
	background-size: 100%;
	width: 100%;
	height: 100vh;
}

.form-container{
	border: 1px solid #fff;
	padding: 50px 60px;
/*	margin-top: 20vh;
*/
}

.theme{
	color: #fff;
}

.navbar {
	background-color: #196f91 !important;
	color: white;
	text-decoration: bold !important;
}

.vertical-nav {
	background-color: #196f91 !important;
	height: 100vh;
}
.vertical-nav li {
	border-top: solid 1px #b4dff0;
}

.vertical-nav li:hover, li a.active {
	background-color: gray;
}

.vertical-nav i{
	margin-right: 1em;
}

/*#logged-in-view {
	display: block;
}*/

.div-border{
	border: solid 1px;
}
.div-border h1{
	text-align: center !important;
}

.status-board{
	margin-top: 1em;
}



.table-striped  tbody tr:nth-child(even) {
/*	background-color: #196f91;*/
	background-color: #b4dff0;
}

.table-striped  thead {
	background-color: #b4dff0;
	/*color: white;*/
}
.tab-pane{
	padding-top: 2em;
}

h4{
	color: #196f91;
	margin-bottom: 1em;
}
.btn {
	border-radius: 0;
}
