/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

/* Content section or body */
.body {
	padding-top: 50px;
  	padding-right: 30px;
 	padding-bottom: 50px;
  	padding-left: 80px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}